---
http_interactions:
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/rorith__/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '06'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/rorith__/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018450639070","displayName":"Rorith__"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Sun, 20 Mar 2016 12:48:46 GMT
[...]
- request:
    method: get
    uri: http://api.guardian.gg/elo/4611686018450639070
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 20 Mar 2016 12:48:48 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        [{"gamesPlayed":228,"gamesPlayedSolo":4,"mode":9,"elo":1421.6842516676136,"eloSolo":1206.4427419120782,"rank":7467,"rankSolo":-1},{"gamesPlayed":88,"gamesPlayedSolo":0,"mode":10,"elo":1230.7649560318605,"eloSolo":1200,"rank":269972,"rankSolo":-1},{"gamesPlayed":57,"gamesPlayedSolo":1,"mode":11,"elo":1244.8048144126174,"eloSolo":1211.6568166489596,"rank":56774,"rankSolo":-1},{"gamesPlayed":185,"gamesPlayedSolo":0,"mode":12,"elo":1412.9101397521995,"eloSolo":1200,"rank":16305,"rankSolo":-1},{"gamesPlayed":79,"gamesPlayedSolo":0,"mode":13,"elo":1380.71294362159,"eloSolo":1200,"rank":16455,"rankSolo":-1},{"gamesPlayed":530,"gamesPlayedSolo":0,"mode":14,"elo":1760.2622079450525,"eloSolo":1200,"rank":11283,"rankSolo":-1},{"gamesPlayed":7,"gamesPlayedSolo":0,"mode":15,"elo":1242,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":88,"gamesPlayedSolo":0,"mode":19,"elo":1062,"eloSolo":1200,"rank":742786,"rankSolo":-1},{"gamesPlayed":56,"gamesPlayedSolo":0,"mode":23,"elo":1222.6391367973943,"eloSolo":1200,"rank":105739,"rankSolo":-1},{"gamesPlayed":80,"gamesPlayedSolo":1,"mode":24,"elo":1287.3191084023947,"eloSolo":1184.8836208486373,"rank":125480,"rankSolo":-1},{"gamesPlayed":4,"gamesPlayedSolo":0,"mode":28,"elo":1226.6540279817461,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":23,"gamesPlayedSolo":0,"mode":29,"elo":1343,"eloSolo":1200,"rank":63529,"rankSolo":-1},{"gamesPlayed":13,"gamesPlayedSolo":0,"mode":523,"elo":1216,"eloSolo":1200,"rank":-1,"rankSolo":-1}]
  recorded_at: Sun, 20 Mar 2016 12:48:48 GMT
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/scssquatch/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '12'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/scssquatch/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018457412472","displayName":"scssquatch"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Sun, 20 Mar 2016 12:55:22 GMT
[...]
