---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.info
    body:
      encoding: UTF-8
      string: token=asdf
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"user":{"id":"U0TUWEY6R","team_id":"T0TUWCNF9","name":"wpp","deleted":false,"status":null,"color":"9f69e7","real_name":"Philipp
        Wei\u00dfensteiner","tz":"Europe\/Amsterdam","tz_label":"Central European
        Time","tz_offset":3600,"profile":{"first_name":"Philipp","last_name":"Wei\u00dfensteiner","avatar_hash":"gb22e5a796f1","title":"PSN
        wpp31","phone":"","skype":"","real_name":"Philipp Wei\u00dfensteiner","real_name_normalized":"Philipp
        Weisensteiner","email":"mail@philippweissensteiner.com","image_24":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0008-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0008-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0008-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0008-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0008-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0008-512.png"},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false}}'
  recorded_at: Sun, 20 Mar 2016 11:23:49 GMT
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/wpp31/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - 08
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/wpp31/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018429229422","displayName":"wpp31"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Sun, 20 Mar 2016 11:25:21 GMT
[...]
- request:
    method: get
    uri: http://api.guardian.gg/elo/4611686018429229422
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 20 Mar 2016 11:25:22 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        [{"gamesPlayed":31,"gamesPlayedSolo":1,"mode":9,"elo":1119.889360569719,"eloSolo":1193.0039031119911,"rank":269295,"rankSolo":-1},{"gamesPlayed":91,"gamesPlayedSolo":0,"mode":10,"elo":1267.1376197394923,"eloSolo":1200,"rank":152614,"rankSolo":-1},{"gamesPlayed":15,"gamesPlayedSolo":2,"mode":11,"elo":1204.993653305643,"eloSolo":1229.5807316042246,"rank":-1,"rankSolo":-1},{"gamesPlayed":131,"gamesPlayedSolo":1,"mode":12,"elo":1230.303718950939,"eloSolo":1185.0414759641935,"rank":336807,"rankSolo":-1},{"gamesPlayed":39,"gamesPlayedSolo":0,"mode":13,"elo":1259.4673771037315,"eloSolo":1200,"rank":102331,"rankSolo":-1},{"gamesPlayed":301,"gamesPlayedSolo":0,"mode":14,"elo":1214.789429455032,"eloSolo":1200,"rank":258563,"rankSolo":-1},{"gamesPlayed":52,"gamesPlayedSolo":0,"mode":19,"elo":1235,"eloSolo":1200,"rank":213239,"rankSolo":-1},{"gamesPlayed":21,"gamesPlayedSolo":0,"mode":23,"elo":1142.2678159731863,"eloSolo":1200,"rank":183830,"rankSolo":-1},{"gamesPlayed":75,"gamesPlayedSolo":0,"mode":24,"elo":1128.5911536741164,"eloSolo":1200,"rank":642913,"rankSolo":-1},{"gamesPlayed":8,"gamesPlayedSolo":0,"mode":28,"elo":1181.8137973753996,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":20,"gamesPlayedSolo":0,"mode":29,"elo":1152,"eloSolo":1200,"rank":-2,"rankSolo":-1},{"gamesPlayed":34,"gamesPlayedSolo":0,"mode":523,"elo":1145,"eloSolo":1200,"rank":600291,"rankSolo":-1}]
  recorded_at: Sun, 20 Mar 2016 11:25:22 GMT
[...]
