---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.info
    body:
      encoding: UTF-8
      string: token=xoxb-28033470819-GLEFKOq0YgyhpmPxWFtH4AH1&user=U0PCXGYJX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"user":{"id":"U0PCXGYJX","team_id":"T0CMWCLP8","name":"rorith","deleted":false,"status":null,"color":"235e5b","real_name":"Ed
        Reeseg","tz":"America\/Chicago","tz_label":"Central Daylight Time","tz_offset":-18000,"profile":{"avatar_hash":"db8aeb6b37b3","first_name":"Ed","last_name":"Reeseg","title":"aaa","skype":"","phone":"","image_24":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33435657538_db8aeb6b37b3ad951658_24.png","image_32":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33435657538_db8aeb6b37b3ad951658_32.png","image_48":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33435657538_db8aeb6b37b3ad951658_48.png","image_72":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33435657538_db8aeb6b37b3ad951658_72.png","image_192":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33435657538_db8aeb6b37b3ad951658_192.png","image_512":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33435657538_db8aeb6b37b3ad951658_512.png","image_1024":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33435657538_db8aeb6b37b3ad951658_512.png","image_original":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33435657538_db8aeb6b37b3ad951658_original.png","real_name":"Ed
        Reeseg","real_name_normalized":"Ed Reeseg","email":"edward.reeseg@gmail.com"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false}}'
  recorded_at: Sat, 23 Apr 2016 21:23:00 GMT
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/Rorith__/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '07'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/Rorith__/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018450639070","displayName":"Rorith__"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Sat, 23 Apr 2016 21:23:01 GMT
[...]
- request:
    method: get
    uri: http://api.guardian.gg/elo/4611686018450639070
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sat, 23 Apr 2016 21:23:10 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        [{"gamesPlayed":17,"gamesPlayedSolo":7,"mode":9,"elo":1320.7434109137891,"eloSolo":1241.3293256477293,"rank":-1,"rankSolo":-1},{"gamesPlayed":8,"gamesPlayedSolo":1,"mode":10,"elo":1205.4144992523516,"eloSolo":1185.324988284654,"rank":-1,"rankSolo":-1},{"gamesPlayed":3,"gamesPlayedSolo":0,"mode":11,"elo":1244.1089342523592,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":5,"gamesPlayedSolo":0,"mode":12,"elo":1194.8202462974243,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":2,"gamesPlayedSolo":0,"mode":13,"elo":1212.2883574309965,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":28,"gamesPlayedSolo":0,"mode":14,"elo":1369.3631394988538,"eloSolo":1200,"rank":22927,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":15,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":19,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":23,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":4,"gamesPlayedSolo":1,"mode":24,"elo":1257.163035749819,"eloSolo":1214.9655596891032,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":28,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":29,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":523,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1}]
  recorded_at: Sat, 23 Apr 2016 21:23:03 GMT
[...]
