---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.info
    body:
      encoding: UTF-8
      string: token=xoxb-27974235604-3vwL2BW0UM9ahRck39DN3Uvj&user=U0TUWEY6R
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"user":{"id":"U0TUWEY6R","team_id":"T0TUWCNF9","name":"wpp","deleted":false,"status":null,"color":"9f69e7","real_name":"Philipp
        Wei\u00dfensteiner","tz":"Europe\/Amsterdam","tz_label":"Central European
        Summer Time","tz_offset":7200,"profile":{"first_name":"Philipp","last_name":"Wei\u00dfensteiner","avatar_hash":"gb22e5a796f1","title":"PSN
        ollyc92","phone":"","skype":"","real_name":"Philipp Wei\u00dfensteiner","real_name_normalized":"Philipp
        Weisensteiner","email":"mail@philippweissensteiner.com","image_24":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=24&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0008-24.png","image_32":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=32&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0008-32.png","image_48":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=48&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0008-48.png","image_72":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=72&d=https%3A%2F%2Fa.slack-edge.com%2F66f9%2Fimg%2Favatars%2Fava_0008-72.png","image_192":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=192&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0008-192.png","image_512":"https:\/\/secure.gravatar.com\/avatar\/b22e5a796f12aa2d867670e29c81a7bb.jpg?s=512&d=https%3A%2F%2Fa.slack-edge.com%2F7fa9%2Fimg%2Favatars%2Fava_0008-512.png"},"is_admin":true,"is_owner":true,"is_primary_owner":true,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false}}'
  recorded_at: Mon, 18 Apr 2016 14:23:46 GMT
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/ollyc92/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '05'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/ollyc92/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018428467715","displayName":"OllyC92"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Mon, 18 Apr 2016 14:23:46 GMT
[...]
- request:
    method: get
    uri: http://api.guardian.gg/elo/4611686018428467715
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 18 Apr 2016 14:23:47 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        [{"gamesPlayed":4,"gamesPlayedSolo":1,"mode":9,"elo":1198.738781508069,"eloSolo":1215.177734367678,"rank":-1,"rankSolo":-1},{"gamesPlayed":3,"gamesPlayedSolo":0,"mode":10,"elo":1216.5453129156922,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":11,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":14,"gamesPlayedSolo":0,"mode":12,"elo":1206.577620077252,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":13,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":21,"gamesPlayedSolo":0,"mode":14,"elo":1180.6850427338527,"eloSolo":1200,"rank":56713,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":15,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":19,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":6,"gamesPlayedSolo":0,"mode":23,"elo":1157.70378079689,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":1,"gamesPlayedSolo":0,"mode":24,"elo":1213.226706458673,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":28,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":29,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":523,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1}]
  recorded_at: Mon, 18 Apr 2016 14:23:47 GMT
[...]
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/wpp31/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - 08
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/wpp31/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018429229422","displayName":"wpp31"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Mon, 18 Apr 2016 15:29:23 GMT
[...]
