---
http_interactions:
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/samsymons/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '05'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/samsymons/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018429221417","displayName":"samsymons"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Sun, 20 Mar 2016 12:06:51 GMT
[...]
- request:
    method: get
    uri: http://api.guardian.gg/elo/4611686018429221417
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 20 Mar 2016 12:06:52 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        [{"gamesPlayed":84,"gamesPlayedSolo":0,"mode":9,"elo":1120.4215314981543,"eloSolo":1200,"rank":269326,"rankSolo":-1},{"gamesPlayed":76,"gamesPlayedSolo":2,"mode":10,"elo":1201.3245461349509,"eloSolo":1170.2939968417977,"rank":403469,"rankSolo":-1},{"gamesPlayed":38,"gamesPlayedSolo":0,"mode":11,"elo":1222.4849205630512,"eloSolo":1200,"rank":75418,"rankSolo":-1},{"gamesPlayed":174,"gamesPlayedSolo":1,"mode":12,"elo":1367.6807920104773,"eloSolo":1185.1774881204221,"rank":37036,"rankSolo":-1},{"gamesPlayed":57,"gamesPlayedSolo":0,"mode":13,"elo":1313.8661230370328,"eloSolo":1200,"rank":50338,"rankSolo":-1},{"gamesPlayed":308,"gamesPlayedSolo":0,"mode":14,"elo":1534.5348378859771,"eloSolo":1200,"rank":43806,"rankSolo":-1},{"gamesPlayed":8,"gamesPlayedSolo":0,"mode":15,"elo":1219,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":73,"gamesPlayedSolo":0,"mode":19,"elo":1139,"eloSolo":1200,"rank":561820,"rankSolo":-1},{"gamesPlayed":28,"gamesPlayedSolo":1,"mode":23,"elo":1269.6956191119457,"eloSolo":1216.2159631198333,"rank":65578,"rankSolo":-1},{"gamesPlayed":39,"gamesPlayedSolo":0,"mode":24,"elo":1151,"eloSolo":1200,"rank":565275,"rankSolo":-1},{"gamesPlayed":9,"gamesPlayedSolo":0,"mode":28,"elo":1240,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":75,"gamesPlayedSolo":0,"mode":29,"elo":1310,"eloSolo":1200,"rank":97646,"rankSolo":-1},{"gamesPlayed":26,"gamesPlayedSolo":0,"mode":523,"elo":1179,"eloSolo":1200,"rank":460421,"rankSolo":-1}]
  recorded_at: Sun, 20 Mar 2016 12:06:52 GMT
[...]
