---
http_interactions:
- request:
    method: post
    uri: https://slack.com/api/users.info
    body:
      encoding: UTF-8
      string: token=xoxb-28033470819-GLEFKOq0YgyhpmPxWFtH4AH1&user=U0HJX07TQ
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Accepted-Oauth-Scopes:
      - users:read,read
      X-Oauth-Scopes:
      - identify,read,post,client,apps
    body:
      encoding: ASCII-8BIT
      string: '{"ok":true,"user":{"id":"U0HJX07TQ","team_id":"T0CMWCLP8","name":"ollyc92","deleted":false,"status":null,"color":"619a4f","real_name":"","tz":"Europe\/London","tz_label":"British
        Summer Time","tz_offset":3600,"profile":{"avatar_hash":"7c97c3ed2748","image_24":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33355397187_7c97c3ed2748fcf9873b_24.jpg","image_32":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33355397187_7c97c3ed2748fcf9873b_32.jpg","image_48":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33355397187_7c97c3ed2748fcf9873b_48.jpg","image_72":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33355397187_7c97c3ed2748fcf9873b_72.jpg","image_192":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33355397187_7c97c3ed2748fcf9873b_192.jpg","image_512":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33355397187_7c97c3ed2748fcf9873b_512.jpg","image_1024":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33355397187_7c97c3ed2748fcf9873b_512.jpg","image_original":"https:\/\/avatars.slack-edge.com\/2016-04-09\/33355397187_7c97c3ed2748fcf9873b_original.jpg","first_name":"","last_name":"","title":"PSN:
        ollyc92","phone":"","skype":"","real_name":"","real_name_normalized":"","email":"mr_olly_cluskey@hotmail.co.uk"},"is_admin":false,"is_owner":false,"is_primary_owner":false,"is_restricted":false,"is_ultra_restricted":false,"is_bot":false}}'
  recorded_at: Mon, 16 May 2016 18:40:28 GMT
[...]
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/ollyc92/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '11'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/ollyc92/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018428467715","displayName":"OllyC92"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Mon, 16 May 2016 18:40:29 GMT
[...]
- request:
    method: get
    uri: http://api.guardian.gg/elo/4611686018428467715
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Mon, 16 May 2016 18:40:30 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        [{"gamesPlayed":27,"gamesPlayedSolo":1,"mode":9,"elo":1286.7095747391702,"eloSolo":1215.177734367678,"rank":15147,"rankSolo":-1},{"gamesPlayed":27,"gamesPlayedSolo":1,"mode":10,"elo":1383.758598547996,"eloSolo":1184.8123749965475,"rank":2915,"rankSolo":-1},{"gamesPlayed":1,"gamesPlayedSolo":0,"mode":11,"elo":1216.4368041087716,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":95,"gamesPlayedSolo":3,"mode":12,"elo":1139.5469557970832,"eloSolo":1214.5138133615121,"rank":488345,"rankSolo":-1},{"gamesPlayed":4,"gamesPlayedSolo":0,"mode":13,"elo":1205.2111864854644,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":211,"gamesPlayedSolo":0,"mode":14,"elo":1306.2057094939366,"eloSolo":1200,"rank":74407,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":15,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":19,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":17,"gamesPlayedSolo":0,"mode":23,"elo":1234.1551963736679,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":9,"gamesPlayedSolo":0,"mode":24,"elo":1272.2199793971406,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":28,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":29,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":0,"gamesPlayedSolo":0,"mode":523,"elo":1200,"eloSolo":1200,"rank":-1,"rankSolo":-1}]
  recorded_at: Mon, 16 May 2016 18:40:30 GMT
[...]
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/scssquatch/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '10'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/scssquatch/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018457412472","displayName":"scssquatch"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Mon, 16 May 2016 18:40:32 GMT
[...]
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/Rorith__/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - 09
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/Rorith__/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018450639070","displayName":"Rorith__"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Mon, 16 May 2016 18:40:36 GMT
[...]
