---
http_interactions:
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/kurzinator/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '12'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/kurzinator/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[{"iconPath":"/img/theme/destiny/icons/icon_psn.png","membershipType":2,"membershipId":"4611686018432464258","displayName":"kurzinator"}],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Sun, 20 Mar 2016 12:07:35 GMT
[...]
- request:
    method: get
    uri: http://api.guardian.gg/elo/4611686018432464258
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Last-Modified:
      - Sun, 20 Mar 2016 12:07:36 GMT
    body:
      encoding: ASCII-8BIT
      string: |
        [{"gamesPlayed":7,"gamesPlayedSolo":0,"mode":9,"elo":1154,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":136,"gamesPlayedSolo":0,"mode":10,"elo":1187.0525136973276,"eloSolo":1200,"rank":471030,"rankSolo":-1},{"gamesPlayed":267,"gamesPlayedSolo":5,"mode":12,"elo":1164.6756428246724,"eloSolo":1199.9069275584702,"rank":614390,"rankSolo":-1},{"gamesPlayed":6,"gamesPlayedSolo":0,"mode":13,"elo":1176.6173369745436,"eloSolo":1200,"rank":-1,"rankSolo":-1},{"gamesPlayed":70,"gamesPlayedSolo":0,"mode":14,"elo":1089.9420931982502,"eloSolo":1200,"rank":447505,"rankSolo":-1},{"gamesPlayed":82,"gamesPlayedSolo":0,"mode":19,"elo":1180,"eloSolo":1200,"rank":409948,"rankSolo":-1},{"gamesPlayed":67,"gamesPlayedSolo":0,"mode":24,"elo":1142.5535895099063,"eloSolo":1200,"rank":594127,"rankSolo":-1},{"gamesPlayed":105,"gamesPlayedSolo":0,"mode":29,"elo":1241,"eloSolo":1200,"rank":213892,"rankSolo":-1},{"gamesPlayed":37,"gamesPlayedSolo":0,"mode":523,"elo":1305,"eloSolo":1200,"rank":56774,"rankSolo":-1}]
  recorded_at: Sun, 20 Mar 2016 12:07:36 GMT
[...]
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/2/for/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '01'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/2/for/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Tue, 29 Mar 2016 10:04:32 GMT
- request:
    method: get
    uri: http://proxy.guardian.gg/Platform/Destiny/SearchDestinyPlayer/1/for/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-Bungienext-Mid2:
      - '01'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - http://www.bungie.net/Platform/Destiny/SearchDestinyPlayer/1/for/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":[],"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Tue, 29 Mar 2016 10:04:32 GMT
recorded_with: VCR 3.0.1
