---
http_interactions:
- request:
    method: get
    uri: https://www.bungie.net/Platform/Destiny/Advisors/Xur/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - aaaa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Mon, 04 Jul 2016 10:46:43 GMT
      X-Bungienext-Mid2:
      - 08
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1627'
      X-Selfurl:
      - https://www.bungie.net/Platform/Destiny/Advisors/Xur/
    body:
      encoding: ASCII-8BIT
      string: '{"ErrorCode":1627,"ThrottleSeconds":0,"ErrorStatus":"DestinyVendorNotFound","Message":"The
        Vendor you requested was not found.","MessageData":{}}'
  recorded_at: Mon, 04 Jul 2016 10:46:42 GMT
recorded_with: VCR 3.0.1
