---
http_interactions:
- request:
    method: get
    uri: https://www.bungie.net/Platform/Destiny/Advisors/Xur/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - aaaa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 02 Jul 2016 11:14:26 GMT
      X-Bungienext-Mid2:
      - 08
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - https://www.bungie.net/Platform/Destiny/Advisors/Xur/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":{"data":{"vendorHash":2796397637,"nextRefreshDate":"2016-07-08T09:00:00Z","enabled":true,"saleItemCategories":[{"categoryIndex":36,"categoryTitle":"Curios","saleItems":[{"item":{"itemHash":1880070441,"bindStatus":0,"isEquipped":false,"itemInstanceId":"0","itemLevel":0,"stackSize":1,"qualityLevel":0,"stats":[],"canEquip":true,"equipRequiredLevel":0,"unlockFlagHashRequiredToEquip":0,"cannotEquipReason":0,"damageType":0,"damageTypeHash":0,"damageTypeNodeIndex":-1,"damageTypeStepIndex":-1,"talentGridHash":0,"nodes":[],"useCustomDyes":false,"artRegions":{},"isEquipment":false,"isGridComplete":false,"perks":[],"location":3,"transferStatus":0,"locked":false,"lockable":false,"objectives":[],"state":0},"vendorItemIndex":294,"itemStatus":0,"costs":[{"itemHash":1738186005,"value":23}],"requiredUnlockFlags":[],"unlockStatuses":[],"failureIndexes":[]},{"item":{"itemHash":1880070440,"bindStatus":0,"isEquipped":false,"itemInstanceId":"0","itemLevel":0,"stackSize":1,"qualityLevel":0,"stats":[],"canEquip":true,"equipRequiredLevel":0,"unlockFlagHashRequiredToEquip":0,"cannotEquipReason":0,"damageType":0,"damageTypeHash":0,"damageTypeNodeIndex":-1,"damageTypeStepIndex":-1,"talentGridHash":0,"nodes":[],"useCustomDyes":false,"artRegions":{},"isEquipment":false,"isGridComplete":false,"perks":[],"location":3,"transferStatus":0,"locked":false,"locka[...]
