---
http_interactions:
- request:
    method: get
    uri: https://www.bungie.net/Platform/Destiny/Advisors/Xur/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - f2f08a11ba194938b0fd6ff451ef1e6b
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Fri, 09 Sep 2016 13:55:48 GMT
      X-Bungienext-Mid2:
      - '12'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '5'
      X-Selfurl:
      - https://www.bungie.net/Platform/Destiny/Advisors/Xur/
    body:
      encoding: ASCII-8BIT
      string: '{"ErrorCode":5,"ThrottleSeconds":0,"ErrorStatus":"SystemDisabled","Message":"This
        system is temporarily disabled for maintenance.","MessageData":{}}'
  recorded_at: Fri, 09 Sep 2016 13:55:47 GMT
recorded_with: VCR 3.0.1
