---
http_interactions:
- request:
    method: get
    uri: https://www.bungie.net/Platform/Destiny/Advisors/Xur/
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Api-Key:
      - aaaa
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Last-Modified:
      - Sat, 02 Jul 2016 11:14:29 GMT
      X-Bungienext-Mid2:
      - '12'
      X-Bungienext-Renderer:
      - Frog Blast the Ventcore
      X-Ventcore-Status:
      - '1'
      X-Selfurl:
      - https://www.bungie.net/Platform/Destiny/Advisors/Xur/
    body:
      encoding: ASCII-8BIT
      string: '{"Response":{},"ErrorCode":1,"ThrottleSeconds":0,"ErrorStatus":"Success","Message":"Ok","MessageData":{}}'
  recorded_at: Sat, 02 Jul 2016 11:14:29 GMT
recorded_with: VCR 3.0.1
